/* CSS Document */

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
#level1
{
	background-color: #bad530;
	background-image:url(images/top-big1.png);
	background-repeat: no-repeat;
	height:48em;
	background-size: 97% 97%;	
}
	#wrap1 img
	{	
		
	} 
	#top1{margin-top: 13em;}	
	#top1 img{width: 10%;}
	#top2{margin-top: 19em;}
	#top2 img{width: 17%;}
	#top3{margin-top: 18em;}
	#top3 img{width: 17%;}

		#downscroll
		{
		    background-image:url(images/scroll.png);
			background-color:#bad530;			
			color:#fff;
			font-weight: bold;
			border:none;
			margin-top: 5em;
		}	
#level2
{
	background-color: #fff;
}
	#wrap2 img
	{
	}	
	.tabbable2 .nav{margin-left:48em; width:12.5em; background-color: #bad530; border-radius: 5px;} 	


#level3
{
	background-color: #652a7c;
}
	#wrap2 img
	{
		margin-top: 150px;
	}	
#level4
{
	background-color: #fff;
}
	#wrap2 img
	{
	}		
#level5
{
	background-color: #bad530;
}
	#wrap2 img
	{
	}			
	.big11
	{
		color:#652a7c; 
		font-family: 'Montserrat', sans-serif; 
		display:block; 
		font-size:4em; 
		line-height: 1em;
		font-weight:900;
	}
	.left-back{
		background-image: url(images/comment-box.png);
		background-size: 90% 90%;
		background-repeat: no-repeat;
	}
	.big12
	{
		color:#fff; 
		font-family: 'Montserrat', sans-serif; 		
		text-align:center; 
		font-size:1.5em;
		margin:78px 0 0 0px;		
	}	
	.left-com-wrap{margin:78px 0 0 380px;}
		.flat-wrap2{margin:10px 0 0 100px;}
		.big13
		{
			color:#fff; 
			font-family: 'Montserrat', sans-serif; 
			font-size:18px; 
			float:right;
		}
	.right2 p {color:#652a7c; font-family: verdana, arial, helvetica, sans-serif; display:block; font-size:18px; text-align:left; margin-top:3em;}	
		.big14{color:#fff; font-family: 'Montserrat', sans-serif; display:block; font-size:18px; float:right;}
#level6
{
	background-color: #fff;
}
	#wrap2 img
	{
	}	

	#tab-container .list-wrap { background: #652a7c; min-height:700px;}
		#tab-container ul
		{ 
			list-style:none;									
		}
			#tab-container ul li 
			{
				float:left;
				margin-right: 3em;
			}	
		#tab-container ul li a {width:19em; height:24em;  display: block; text-decoration:none;}				

	#lefthook
		{
			width:22em;
			height:auto;			
			float:left;
			margin-right:0px;									
		}
			#lefthook h1
			{
				color:#bad530;
				margin-bottom:50px;
				font-family: 'Montserrat', sans-serif;
				font-size:26px;
				line-height:28px;
			}
			.plus
			{
				color:#bad530;				
				font-family: 'Montserrat', sans-serif;
				font-size:11px;
			}
			#lefthook h2
			{
				color:#fff;
				margin-bottom:20px;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:11px;
			}
			#lefthook h3
			{
				color:#fff;				
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:11px;
				margin: 0px;
			}
			#lefthook h4
			{
				color:#fff;				
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:11px;
				margin-top:20px;
			}
			#lefthook p
			{
				color:#bad530;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:12px;
				text-align:left;
				line-height:13px;
			}
			
		#righthook
		{
			width:50%;			
			float:right;						
		}
			#minus
			{
				color:#bad530;				
				margin-left:-4px;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:40px;
				line-height:24px;
				font-weight:bold;				
			}
			#righthook p
			{
				color:#fff;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:12px;
				text-align:left;
				line-height:13px;
				width:750px;
				padding-top:28px;				
			}
			#righthook h2
			{
				color:#bad530;
				margin-bottom:10px;
				margin-top:20px;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:11px;
			}
			#righthook h3
			{
				color:#fff;				
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:11px;
			}
		
		#Full_Name{-moz-border-radius: 5px;
-webkit-border-radius: 5px; border-radius: 5px; padding:5px 5px 5px 8px;}
		#Email_Address{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:5px 5px 5px 8px;}
		#Telephone_Number{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:5px 5px 5px 8px;}
		#Your_Message{-moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px; padding:5px 5px 5px 8px;}
		textarea{ resize:none;}
		#submit_name{-moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px; color:#652a7c; background-color:#bad530; height:25px; width:100px; border:none; margin-right:-78px; font-family: verdana, arial, helvetica, sans-serif;}
		::-webkit-input-placeholder { color:#c90055; }
		::-moz-placeholder { #c90055 } /* firefox 19+ */
		:-ms-input-placeholder { color:#c90055; } /* ie */
		input:-moz-placeholder { color:#c90055; }
		
	.head1
			{
				color:#bad530;
				margin-bottom:18px;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:24px;
				line-height:28px;
				display:block;
				margin-left:254px;
				font-weight:600;
			}		
	.head2
			{
				color:#fff;
				margin-bottom:50px;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size:46px;
				line-height:28px;
				font-weight:bold;
				margin-left:240px;
			}				

#tab-1-div
{
	background: url(images/check-out.png);
	background-repeat: no-repeat;
	height:auto;
	background-size: 90% 50%;	
	background-position: 0em 25em;
}
div.control-group{
	padding-left:30px;
}

div.success{
	background: url(images/tick-icon.png) left top no-repeat;
}
div.error{
	background: url(images/cross-icon.png) left top no-repeat;
}

//label.valid {
 // width: 24px;
  //height: 24px;
  //background: url(images/cross-icon.png) center center no-repeat;
  //display: inline-block;
//  text-indent: -9999px;
//}
label.error {
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.getnow_left{
	/*background:url(images/cherry.png) no-repeat;*/
	float:left;
	width:33%;
}
.getnow_middle{
	/*background:url(images/lemon.png) no-repeat;*/
	float:left;
	width:33%
}
.getnow_right{
	/*background:url(images/unflavoured.png) no-repeat;*/
	float:left;
	width:30%;
}
.cherry_flavour{
	padding-left:17.4em;
	padding-top:0px;
}
.lemon_flavour{
	padding-left:13.9em;
	padding-top:0em;
}
.unflavoured{
	padding-left:10.9em;
	padding-top:0em;
}
.purple_bg{
	background:;
	padding-top:39.4em;	
	padding-bottom:2em;	
}
.purple_bg input{
	width:1.8em;	
	height:1.5em;	
}

.clear{
	clear:both;
}
.purple_bottom{
	background:;
	padding-top:1.9em;
	padding-left:2.6em;	
	color:#fff;
	font-size:1.3em;
	font-weight:bold;	
}

#level7
{
	background-color: #411944;
}
	#wrap2 img
	{
	}		
